# NeonDB Cloud PostgreSQL (Pastikan database ON dan connection string aktif di Neon Dashboard)
PGHOST=ep-still-art-ampepzf4-pooler.c-5.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_ThzKV3SGkj4H

# Local PostgreSQL (Docker) - Uncomment untuk menggunakan database lokal
# PGHOST=localhost
# PGUSER=postgres
# PGDATABASE=productcrud
# PGPASSWORD=password123
